*.json
!/Python/labels.json
!/Python/vote-lambda-function/labels.json
!/Python/get-lambda-function/labels.json
!/Python/allowedEmailExample.json
!/reactjs/package.json
!/reactjs/package-lock.json
!/reactjs/src/labels.json
/reactjs/src/aws-exports.js
*.csv
*.pem
*.pyc
*.zip
